@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-nub::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-nub::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-nub::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 3px;
}

.scrollbar-nub {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}